Source: daemonize
Section: unknown
Priority: extra
Maintainer: Lionel Félicité <deogracia@free.fr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://software.clapper.org/daemonize/
#Vcs-Git: git://git.debian.org/collab-maint/daemonize.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/daemonize.git;a=summary

Package: daemonize
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: daemonize runs a command as a Unix daemon
 daemonize runs a command as a Unix daemon. As defined in 
 W. Richard Stevens’ 1990 book, UNIX Network Programming 
 (Addison-Wesley, 1990), a daemon is “a process that executes 
 ‘in the background’ (i.e., without an associated terminal or login shell) 
 either waiting for some event to occur, or waiting to perform some specified 
 task on a periodic basis.” 
